.cover__title {
  min-height: 152px;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.06;
  color: #ffff;
  padding: 0;
  padding-bottom: 32px;
  margin: 0 auto;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__title {
    min-height: 70px;
    font-size: 32px;
    line-height: 1.09;
    padding-bottom: 16px;
  }
}
